body{
padding: 10px;


}
.menu-superior{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px 2px black;
    margin: 0 auto;
}
.main{
    display: flex;
    padding: 10px;
}
@media (max-width:576px) {
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    
}
@media (max-width:1000px) {
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}
